.places__paragraph {
    font-family: "Inter", Arial, "sans-serif";
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
}
.places__paragraph:not(:last-of-type) {
    margin-bottom: 26px;
}

@media (max-width: 1024px) {
    .places__paragraph {
        font-size: calc(16px + 2 * ((100vw - 768px) / 256));
    }
}

@media (max-width: 768px) {
    .places__paragraph {
        font-size: 16px;
        padding-right: calc(16px - 16 * ((100vw - 320px) / 448));
        padding-left: calc(16px - 16 * ((100vw - 320px) / 448));
    }
}

@media (max-width: 320px) {
    /*.places__paragraph {*/
    /*    font-size: 16px;*/
    /*}*/

    .places__paragraph:not(:last-of-type) {
        margin-bottom: 25px;
    }
}