.page__header {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 48px;
}

@media (max-width: 1024px) {
    .page__header {
        padding-right: calc(24px + 24 * ((100vw - 768px) / 256));
        padding-left: calc(24px + 24 * ((100vw - 768px) / 256));
    }
}

@media (max-width: 768px) {
    .page__header {
        padding-right: calc(16px + 8 * ((100vw - 320px) / 448));
        padding-left: calc(16px + 8 * ((100vw - 320px) / 448));
    }
}