.places__title {
    margin: 0;
    font-family: "Inter", Arial, "sans-serif";
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media (max-width: 1024px) {
    .places__title {
        font-size: calc(42px + 30 * ((100vw - 768px) / 256));
        line-height: calc(46px + 30 * ((100vw - 768px) / 256));
        max-width: 340px;
    }
}

@media (max-width: 768px) {
    .places__title {
        font-size: calc(32px + 10 * ((100vw - 320px) / 448));
        line-height: calc(35px + 11 * ((100vw - 320px) / 448));

        padding-right: calc(16px - 16 * ((100vw - 320px) / 448));
        padding-left: calc(16px - 16 * ((100vw - 320px) / 448));
    }
}
/*

@media (max-width: 320px) {
    .places__title {
        padding-left: 16px;
        padding-right: 16px;
    }
}*/
