.places__link {
    font-family: "Inter", Arial, "sans-serif";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.222;
    color: #fff;
    width: fit-content;

}

.places__link:hover {
    cursor: pointer;
}

