.cover__subtitle {
    margin: 0;
    padding: 0;
    font-family: "Inter Regular", "sans-serif";
    font-size: 18px;
    line-height: 122.2222222222%;
    max-width: 360px;
    text-align: center;
    z-index: 5;
}

@media (max-width: 768px) {
    .cover__subtitle {
        font-size: calc(14px + 4 * ((100vw - 320px) / 448));
    }
}