.wrapper-outer__photo-grid {
    margin-top: 92px;
}

@media (max-width: 1024px) {
    .wrapper-outer__photo-grid {
        margin-top: calc(88px + 4 * ((100vw - 768px) / 256));
    }
}

@media (max-width: 768px) {
    .wrapper-outer__photo-grid {
        margin-top: calc(64px + 24 * ((100vw - 320px) / 448));
    }
}