.lead_theme_position {
    margin-top: 56px;
    /*padding-right: 48px;*/
    /*padding-left: 48px;*/
}

@media (max-width: 1280px) {
    .lead_theme_position {
        margin-top: calc(48px + 8 * ((100vw - 1024px) / 256));
        padding-right: calc(48px + 0 * ((100vw - 1024px) / 256));
        padding-left: calc(48px + 0 * ((100vw - 1024px) / 256));
    }
}

@media (max-width: 1024px) {
    .lead_theme_position {
        margin-top: 48px;
        padding-right: calc(0px + 48 * ((100vw - 768px) / 256));
        padding-left: calc(0px + 48 * ((100vw - 768px) / 256));
    }


}
