.footer__copyright {
    margin: 0 0 0 15px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    font-family: "Inter", Arial, "sans-serif";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.12;
}

@media (max-width: 700px) {
    .footer__copyright {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .footer__copyright {
        line-height: calc(14px + 0 * ((100vw - 320px) / 448));
    }
}

@media (max-width: 626px) {
    .footer__copyright {
        margin: 0;
    }
}
