.places__items {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 80px;
    margin: 0;
    padding: 0;
}

@media (max-width: 1024px) {
    .places__items {
        row-gap: calc(73px + 7 * ((100vw - 768px) / 256));
    }
}

@media (max-width: 768px) {
    .places__items {
        row-gap: calc(50px + 23 * ((100vw - 320px) / 448));
    }
}

