.places__url-heading {
    padding: 0;
    margin: 0;
    font-family: "Inter", Arial, "sans-serif";
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1666em;
    color: #aaa;
    text-transform: uppercase;
}

