.wrapper-outer__lead {
    margin-top: 56px;
}

@media (max-width: 1280px) {
    .wrapper-outer__lead {
        margin-top: calc(48px + 8 * ((100vw - 1024px) / 256));
    }
}

@media (max-width: 1024px) {
    .wrapper-outer__lead {
        margin-top: calc(48px + 0 * ((100vw - 768px) / 256));
    }


}